includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    level: max
    universalObjectCratesClasses:
        - Pest\Mixins\Expectation
    paths:
        - packages
        - tests
    excludePaths:
        - packages/*/vendor
    tmpDir: .phpstan-cache
